<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tomarPedido.css' %}">
</head>

<body class="bg-gray-50 text-gray-800 font-sans">

    <header class="bg-blue-200 text-gray-800 text-center py-4 fixed top-0 left-0 w-full shadow-md z-10">
        <h1 class="text-2xl font-bold">Productos</h1>
    </header>

    <main class="pt-20 pb-16">
        <div class="content">

            <section class="grid gap-4 px-4 grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4"> <!--Las visas menores a 640 (sm) no se cojen porque los telefonos tienes menores tamaños (400-500px) entonces se edito con @media en CSS-->
                {% for producto in Productos %}
                <div class="bg-white hover:bg-gray-100 transition-colors p-4 rounded-lg shadow-md text-center cursor-pointer"
                    onclick="addToPanel('Producto', '{{ producto.id }}', '{{ producto.nombre_producto }}', '{{ producto.precio_producto }}')">
                    <h2 class="text-lg font-semibold text-gray-700">{{ producto.nombre_producto }}</h2>
                    <p class="text-sm text-gray-600">{{ producto.descripcion_producto }}</p>
                    <p class="text-md font-bold text-gray-800 mt-2">${{ producto.precio_producto }}</p>
                </div>
                {% endfor %}
            </section>

            <h2 class="text-3xl text-center font-bold mt-12 mb-6 text-blue-400">Topics</h2>

            <section class="grid gap-5 px-4 grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4">
                {% for topic in Topics %}
                <div class="bg-white hover:bg-gray-100 transition-colors p-4 rounded-lg shadow-md text-center cursor-pointer"
                    onclick="addToPanel('Topic', '{{ topic.id }}' , '{{ topic.nombre_topic }}', '{{ topic.precio_topic }}')">
                    <h3 class="text-lg font-semibold text-gray-700">{{ topic.nombre_topic }}</h3>
                    <p class="text-sm text-gray-600">{{ topic.descripcion_topic }}</p>
                    <p class="text-sm text-gray-600">{{ topic.precio_topic }}</p>
                </div>
                {% endfor %}
            </section>

        </div>
        <article id="panel"
            class="top-15 right-2 pt-5 panel bg-gray-400 fixed shadow-lg shadow-gray-400 rounded-lg border border-black border-4">
            <h2 class="text-center font-bold text-lg mb-4">En lista...</h2>
            <ul id="panel-list" class="px-4">
                <!-- Items will be added here dynamically -->
                <button type="button"
                    class="w-5/6 h-10 mx-4 my-4 text-white font-semibold bg-sky-600 text-center rounded-3xl shadow shadow-black border border-4 border-black hover:bg-sky-500" onclick = "enviarDatos()">Enviar
                    Pedido
                </button>
            </ul>
        </article>
        <div class = "modalTopics hidden absolute w-3/4 h-5/6 left-12 bg-blue-600 p-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 overflow-y-auto rounded-lg shadow-2xl pt-10 ">
            <div class = "sm:col-span-1 md:col-span-2 lg:col-span-3 xl:col-span-4 flex justify-between">
                <button onclick="closeTopicModal()">
                    <img src = "{% static 'images/close.png' %}" class = "w-10">
                </button>
                <h2 class = "text-2xl text-bold text-white font-extrabold ml-32">Topics</h2>
                <input class = "buscador" placeholder="aca va el buscador"></input>
            </div>
           
            <!-- MODAL DE TOPICS -->


        </div>

        
    </main>

    <footer class="bg-blue-200 text-gray-800 text-center py-4 fixed bottom-0 left-0 r-20 w-full shadow-md z-10">
        <p class="text-sm">© 2023 Pedido App</p>
    </footer>

    <script src=" {% static 'js/tomarPedido.js' %}">
    </script>

</body>

</html>